<!DOCTYPE html>
<html>
<head>
  <title>Escalls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/flash_messages' %>

<div class="admin_main">
  <ul class="nav nav-tabs" role="tablist">
    <%= yield :tabs %>
  </ul>

  <div class="tab-content">
    <%= yield %>
  </div>
</div>

<div class="b-popup" id="popup">
  <div class="b-popup-content">
    Are you sure?
    <a href="javascript:void(0)" class="removeUser">Remove</a>
    <a href="javascript:PopUpHide()">Cancel</a>
  </div>
</div>

</body>
</html>
