<!DOCTYPE html>
<html>
<head>
  <title>Escalls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= admin? ? (render 'layouts/admin_layout') : (render 'layouts/user_layout') %>

<% if flash[:message] %>
    <div class="header__alert_message">
      <span class="scale_title_alert_message"><%= flash[:message] %></span>
    </div>
<% end %>

<%= yield %>

</body>
</html>
